# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/Generated.xcconfig
**/Flutter.podspec
**/Pods/
**/Podfile.lock
**/Flutter/ephemeral/
**/build/
**/.gradle/
**/local.properties
**/.flutter-plugins
**/.flutter-plugins-dependencies
.idea/
.vscode/*.log
pubspec.lock

# Firebase/Secrets
**/google-services.json
**/GoogleService-Info.plist
.env*

